* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { height: 100%; }
body {
    font-family: sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
}

header {
    position: fixed;
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
}
.logo {
    height: 30px;
}

nav {
    display: inline-block;
    position: relative;
    right: 10px;
    z-index: 100;
}
nav ul {
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 5px;
    padding: 0;
}
nav li a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 6px 12px 4px;
    border-radius: 40px;

}
nav .active {
    background: #222;
}
nav .active:hover {
    background: #222;
}
nav .active a {
    color: #ddd;
    cursor: default;
}
nav li.accent a {
    background: white;
    color: black;
    text-transform: uppercase;
}
nav li.accent a:hover {
    background: #444;
}

main {

}

section {
    background: url(images/landing.png);
    background-size: cover;
    width: 100%;
    padding: 30px;
}

section.jumbotron {
    background-attachment: fixed;
    height: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-bottom: -5vh;
}

h2 {
    color: red;
    font-size: 250px;
    line-height: 0.8;
}

section.white {
    height: 100vh;
    background: white;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
}
.column {
    width: 60%;
}
.column.text {
    padding-top: 300px;
    width: 30%;
}

h3 {
    margin-bottom: 5px;
}
