* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { height: 100%; }
body {
    font-family: sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
}

header {
    padding: 20px 30px;
    margin: 20px 15px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 30px);
    z-index: 10;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    color: #D4FF00;
    border-radius: 40px;
    border: solid 2px #D4FF00;
}
.logo {
    height: 30px;
}

nav {
    display: inline-block;
    position: relative;
    right: 10px;
    z-index: 100;
}
nav ul {
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 5px;
    padding: 0;
}
nav li a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 6px 12px 4px;
    border-radius: 40px;

}
nav .active {
    background: #222;
}
nav .active:hover {
    background: #222;
}
nav .active a {
    color: #ddd;
    cursor: default;
}
nav li.accent a {
    background: white;
    color: black;
    text-transform: uppercase;
}
nav li.accent a:hover {
    background: #444;
}

main {

}

section {
    background-size: cover;
    width: 100%;
    padding: 30px;
}

.jumbotron {
    position: absolute;
    top: 0;
    height: 105vh;
    width: 100%;
    color: white;
    margin-bottom: -5vh;
    padding: 0;
    z-index: -5;
}
.jumbotron .background {
    width: 100%;
    height: 105vh;
    background-attachment: fixed;
    background-size: cover;
}
#background1 {
    background-image: url(images/bg/1.png);
}
#background2 {
    background-image: url(images/bg/2.png);
}
#background3 {
    background-image: url(images/bg/3.png);
}
#background4 {
    background-image: url(images/bg/4.png);
}

section.landing {
    height: 87vh;
    padding: 20px 30px;
    margin: 20px 15px;
    border-radius: 40px;
    border: solid 2px #D4FF00;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.searchbar {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: solid 1px white;
    color: white;
    margin-bottom: 8px;
}
.searchbar img, .searchbar p {
    display: inline-block;
}
.searchbar img {
    width: 30px;
    margin-left: 7px;
    margin-top: 7px;
}
.searchbar p {
    margin-top: 13px;
    vertical-align: top;
    margin-right: 10px;
}

section.white {
    height: 100vh;
    background: #f6f5ff;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
}
.column {
    width: 60%;
}
section.white img {
    margin-right: -60%;
}
.column.text {
    padding-top: 300px;
    width: 30%;
}

h3 {
    margin-bottom: 5px;
}

.button, button {
    background: #D4FF00;
    color: black;
    border-radius: 30px;
    border: none;
    padding: 10px 14px;
    font-weight: bold;
    font-size: 18px;
}

.placeholder {
    width: 100%;
    margin-bottom: -4px;
}
